
<div class="date-range-filter-container">
    <div class="input-group">
        @*<label for="DateTimePicker">Select a Date</label>*@
        @*<label for="DateTimePicker">Select PO Effective Date</label>*@
        <div id="DateTimePicker" class="input-group">
            <input datePicker type="datetime" name="DateTimePicker" id="date-time-filter"  class="form-control date-picker">
            <span class="input-group-append">
                <button class="btn btn-primary btn-datetime-picker" type="button" id="btnDateFilterOpen">
                    <i class="fa fa-calendar-day p-0" style="color:white;" aria-hidden="true"></i>
                </button>
            </span>
        </div>
    </div>
    @*<div class="input-group">
        <input type="text" class="form-control" id="date-range-filter" disabled="disabled">
        <div class="input-group-append">
            <button class="btn btn-primary" type="button" id="btnDateRangeFilterOpen">
                <i class="fa fa-calendar-day p-0" style="color:white;" aria-hidden="true"></i>
            </button>
        </div>
    </div>*@
</div>
