@using SyberGate.RMACT.Web.Resources

@inject IWebResourceManager WebResourceManager
@{ WebResourceManager.AddScript(ApplicationPath + "view-resources/Areas/App/Views/_Bundles/morris.min.js");
                WebResourceManager.AddScript(ApplicationPath + "view-resources/Areas/App/Views/_Bundles/raphael.min.js");
                WebResourceManager.AddScript(ApplicationPath + "view-resources/Areas/App/Views/_Bundles/jquery.flot.min.js");
                WebResourceManager.AddScript(ApplicationPath + "view-resources/Areas/App/Views/_Bundles/jquery.waypoints.min.js");
                WebResourceManager.AddScript(ApplicationPath + "view-resources/Areas/App/Views/_Bundles/jquery.counterup.min.js");
                WebResourceManager.AddScript(ApplicationPath + "view-resources/Areas/App/Views/_Bundles/topojson.min.js");
                WebResourceManager.AddScript(ApplicationPath + "view-resources/Areas/App/Views/_Bundles/jquery.easypiechart.min.js");
                WebResourceManager.AddScript(ApplicationPath + "view-resources/Areas/App/Views/_Bundles/chartist.min.js"); }

<div id="RMPriceTrend" class="card card-custom RMPriceTrendContainer h-100" >
    <div class="card-header align-items-center border-0 mt-4">
        <h3 class="card-title align-items-start flex-column">
            <span class="font-weight-bolder text-dark">Applicable Raw Material & Price Trend</span>
            <small><i class=" p-0 m-0 fa fa-user"></i> Buyer : <span id="buyer" class="text-dark"></span></small>
            <small><i class=" p-0 m-0 fa fa-user"></i> Supplier : <span id="supplier" class="text-dark"></span></small>
            <small><i class=" p-0 m-0 fa fa-user"></i> Grad : <span id="grade2" class="text-dark"></span></small>
            <small><i class=" p-0 m-0 fa fa-user"></i> Spe : <span id="spec2" class="text-dark"></span></small>
            <small><i class=" p-0 m-0 fa fa-calendar"></i> Period / Version : <span id="dtrange" class="text-dark"></span></small>
            <small><i class=" p-0 m-0 fa fa-user"></i> Plant : <span id="plant" class="text-dark"></span></small>
        </h3>
        <br>
        <br>
        <div class="card-toolbar">
            <button id="editRMPriceTrendButton" class="editRMPriceTrendButton btn btn-sm btn-primary btn-elevate-hover btn-pill">
                <i class="flaticon-edit-1"></i>
                Revise RM
            </button>
            <button type="button" class="btn btn-sm btn-primary btn-elevate-hover btn-pill" id="btn-generate-a3" data-toggle="modal" data-target="#remarksModal">
                <i class="flaticon-analytics"></i>
                Generate RM Sheet
            </button>
            <button type="button" class="btn btn-sm btn-primary btn-elevate-hover btn-pill" id="btn-list-a3" data-toggle="modal" data-target="#GenerateModal">
                <i class="flaticon-analytics"></i>
                List RM Sheet
            </button>
            
            
            <button type="button" class="btn btn-sm btn-primary btn-elevate-hover btn-pill" id="btn-export-a3" data-toggle="modal" data-target="#GenerateModal">
                <i class="flaticon-analytics"></i>
                Export RM Sheet
            </button>
            <button id="refresRMPriceTrendButton" class="refreshRMPriceTrendButton btn btn-outline-brand btn-sm btn-icon btn-icon-md">
                <i class="flaticon2-refresh"></i>
            </button>
        </div>
    </div>
    <div id="category-1" class="card-body" >
        <div id="RMPriceTrend_Content" class="table-responsive">
            <table id="RMPriceTrendTable" class="table table-striped  table-head-solid table-bordered dataTable">
                <thead>
                    <tr>
                        <th class="p-0" style="width: 75px" rowspan="3">Action</th>
                        <th class="p-0" style="width: 120px" rowspan="3">RM Group</th>
                        <th class="p-0" style="width: 120px" rowspan="3">RM Grade</th>
                        <th class="p-0" style="width: 120px" rowspan="3">RM Spec</th>
                        <th class="p-0" style="width: 75px" rowspan="3">UOM</th>
                        <th class="p-0" style="min-width: 150px" colspan="9">Base RM Rate (INR/Kg)</th>
                        <th class="p-0" style="min-width: 140px" colspan="3">Scrap Rate (INR/Kg)</th>
                        <th class="p-0" style="min-width: 150px" colspan="3">RM Type</th>
                    </tr>
                    <tr>
                        <th class="p-0" style="width: 75px" colspan="4">Settled</th>
                        <th class="p-0" style="width: 75px;" colspan="4" >Revised</th>

                        <th class="p-0" style="width: 75px;border-top:1 px solid white" rowspan="2">% of Change</th>
                        <th class="p-0" style="width: 75px" rowspan="2">Settled</th>
                        <th class="p-0" style="width: 75px" rowspan="2">Revised</th>
                        <th class="p-0" style="width: 75px;" rowspan="2">% of Change</th>
                        <th class="p-0" style="width: 50px" rowspan="2">Index - Yes / No </th>
                        <th class="p-0" style="width: 50px" rowspan="2">Applied Index</th>
                        <th class="p-0" style="width: 75px" rowspan="2">Index Value</th>
                    </tr>
                    <tr>
                        <th class="p-0" style="width: 85px">Base (Month & Year)</th>
                        <th class="p-0" style="width: 75px">Unit Rate</th>
                        <th class="p-0" style="width: 75px">Weight Ratio</th>
                        <th class="p-0" style="width: 75px">Melting Loss Ratio</th>
                        <th class="p-0" style="width: 85px">Base (Month & Year)</th>
                        <th class="p-0" style="width: 75px">Unit Rate</th>
                        <th class="p-0" style="width: 75px">Weight Ratio</th>
                        <th class="p-0" style="width: 75px;border-right: 1px solid white;">Melting Loss Ratio</th>
                    </tr>
                </thead>
                <tbody>
                   
                </tbody>
            </table>
        </div>
    </div>
</div>
